@model IEnumerable<WisdomTradeApp.Models.WisdomTrade>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wisdom of the crowd predictions</h1>
    <br />
</div>

@Html.Partial("_TradingViewGraph")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPricePrediction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            string ticker = $"NASDAQ:{item.Ticker}";
   
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Population)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPricePrediction)
                </td>
                <td>
                    <button id="btnGraphTicker" onclick="DrawGraph('@ticker')">Graph of ticker</button>
                </td>                
            </tr>
        }
    </tbody>
</table>

<script>
    
</script>